* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(228, 221, 221);
}

.nav {
  justify-content: center;
  padding: 20px;
  display: flex;
  gap: 80px;

  /* background-color: red; */
  cursor: pointer;
}
.nav-item {
  color: gray;
}
.nav-item:hover {
  background-color: blueviolet;
}

.bg {
  text-align: center;
  background-color: blueviolet;
  color: white;
  padding: 10px;
  border: 1px solid blueviolet;
}

.gap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 90px;
  margin-top: 100px;
}

.gap1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: rgb(117, 109, 109);
  font-style: italic;
}

.circle {
  height: 60px;
  width: 60px;
  background-color: blueviolet;
  color: white;
  padding: 17px;
  font-size: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
}

.space {
  margin-left: 90px;
  margin-top: 90px;
}

.circle:hover {
  background-color: gray;
  color: white;
  transition: 0.5s;
}

.color {
  background-color: blueviolet;
  color: white;
  padding: 5px;
  margin: 20px;
  border: 1px solid blueviolet;
  padding: 10px;
  cursor: pointer;
}

.color1 {
  padding: 5px;
  color: blueviolet;
  margin: 20px;
  border: 1px solid blueviolet;
  padding: 10px;
  cursor: pointer;
}

.color:hover{
    background-color: gray;
}
.color1:hover{
    background-color: gray;
}
/* .footer{
    font-size: xx-large;
    text-align: center;
    background-color: black;
    color: white;
} */
